// TYPO
.main-typography {
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 5rem;
	line-height: 5.5rem;
	color: var(--color-grey-dark-4);
}

.secondary-typography {
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	font-size: 3rem;
	line-height: 5.5rem;
	color: var(--color-grey-dark-4);
}

.tertiary-typography{
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	font-size: 2rem;
	line-height: 5.5rem;
	color: var(--color-grey-dark-4);
}

.typography-description {
	font-size: 2rem;
	color: var(--color-grey-dark-4);
	text-align: justify;
	// padding: 2rem 0;
}

.color--text-primary {
	color: var(--color-primary-dark);
}

.language__link {

}

////////////////////////////////////////
// LOGO
.logo {
	height: 10.25rem;
	margin-left: 2rem;
}

// PROFILE
.profile_image {
	border-radius: 50%;
	border: 1rem solid rgba(255, 255, 255, 0.2);
	width: 20rem;
}

////////////////////////////////////////
// SIDE NAVIGATION
.side-nav {
	font-size: 1.8rem;
	list-style: none;
	margin-top: 3.5rem;
	text-align: center;

	&__link:link,
	&__link:visited {
		color: var(--color-grey-light-3);
		text-decoration: none;
		text-transform: uppercase;
		padding: 1rem 3rem;
		display: block;
	}

	&__link:hover {
		color: var(--color-grey-light-1);
	}
}

////////////////////////////////////////
// LEGAL TEXT
.legal {
	font-size: 1.8rem;
	color: var(--color-grey-light-1);
	text-align: center;
	padding: 2.5rem;
}

////////////////////////////////////////
// ABOUT
.about {
	padding: 3rem 3rem 0 3rem;

	&__email:link, &__email:visited {
		font-size: 2rem;
		cursor: pointer;
		text-transform: uppercase;
		text-decoration: none;
	}

	&__connections {
		padding: 1.5rem 0;
	}

	&__link:link, &__link:visited {
		cursor: pointer;
		text-decoration: none;
	}

	&__icon {
		height: 3rem;
		width: 3rem;
		margin-right: 2rem;
	}
}

////////////////////////////////////////
// EXPERIENCE
.experience {
	padding: 3rem 3rem 0 3rem;
	&__entry {
		padding: 2rem 0;
	}
}
